.card {
  background-color: #0cb9e5;
  text-align: center;
  border-radius: 20px;
}

.card:hover {
  transform: rotate(2deg);
  transition: all 0.3s ease-in-out;
  background-color: #a9fef3;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 300px)
  ); /*Ch7al bghiti men 7aba o kola 7aba chhal fiha 1fr 1fr 1fr 1fr */
  grid-gap: 10px; /* Ch7al dial espace bghiti bin l7abat */
  justify-items: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.logout {
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  background-color: rgb(166, 38, 38);
}

.logout:hover {
  background-color: rgb(223, 50, 50);
}

.ligne {
  border: 2px solid;
  margin-bottom: 30px;
}

.logo {
  width: 250px;
  height: 100px;
  border-radius: 20px;
  border: solid;
}

.editIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editIcon {
  margin: 5px;
}
.editIcon:hover {
  cursor: pointer;
  color: rgb(82, 223, 0);
}

.removeIcon {
  margin: 5px;
  color: rgb(100, 0, 0);
}
.removeIcon:hover {
  cursor: pointer;
  color: rgb(223, 0, 0);
}

.home {
  text-align: center;
}

.searchInput {
  width: 400px;
  border: solid;
  border-radius: 20px;
  margin-bottom: 50px;
}

.createInput {
  height: 30px;
}

.cardHeader {
  display: flex;
  justify-content: center;
  text-align: center;
}

.myInput {
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  height: 35px;
}

.feld {
  width: 300px;
}

.myBtns {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
}

.form {
  width: 400px;
  padding: 30px;
  border: solid;
  border-radius: 10px;
  box-shadow: 2px 6px 22px 13px #000000;
}

.mytableHeader {
  margin: 30px;
  border: solid;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 17px 6px #000000;
}
