body {
  background: rgb(160, 255, 162);
  background: linear-gradient(
    90deg,
    rgba(160, 255, 162, 1) 0%,
    rgba(61, 14, 135, 1) 100%
  );
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 30px;
  box-shadow: 8px 12px 15px 8px rgba(0, 0, 0, 0.82);
  background: linear-gradient(
    90deg,
    rgba(160, 255, 162, 1) 0%,
    rgba(135, 76, 14, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn {
  width: 40%;
  height: 3em;
  margin-bottom: 20px;
  background-color: rgb(24, 114, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  color: white;
}
.btn:hover {
  transform: scale(1.25);
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 70%;
  height: 20px;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  font-size: 0.75em;
}

input:focus {
  outline-color: rgb(32, 177, 255);
}

.title {
  font-size: 30px;
  margin-top: 20px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.err {
  font-size: 15px;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -20px;
}

.icon {
  margin-right: 5px;
}
